


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<div class="alert alert-danger">Kategori Sayısı @ViewBag.categoryCount</div>
<div class="alert alert-info">proje Sayısı @ViewBag.projeCount</div>
<div class="alert alert-danger">Kategori Sayısı @ViewBag.categoryCount</div>
<div class="alert alert-success">Yetenek Sayısı @ViewBag.Skillcount</div>
<div class="alert alert-info">avg ortalama @ViewBag.skillAvgValue</div>
<div class="alert alert-primary">Son Eklenen Yetenek @ViewBag.lasSkillTitleName</div>
<div class="alert alert-info"> Feature @ViewBag.feature</div>
<div class="alert alert-danger"> Proje Başlığı @ViewBag.getProjectTitle</div>
<div class="alert alert-success"> Soyal Medya Sayısı  @ViewBag.sosyalMedia</div>



